# Força a linguagem principal como Java
*.java linguist-language=Java

# Define arquivos ignorados na contagem de linguagens
*.md linguist-documentation
*.yml linguist-generated
*.json linguist-generated
*.png linguist-generated
*.jpg linguist-generated

# Arquivos do Swing GUI Builder (caso use .form)
*.form linguist-generated

# Ignora arquivos gerados pela IDE
.idea/* linguist-generated
*.iml linguist-generated